<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				
				<br>
				<p><i class="fa fa-phone"></i>+33 1 85 40 19 16</p>
				<p><i class="fa fa-envelope-o"></i> contact@symetic-ing.com</p>
              <p><i class="fa fa-globe"></i> www.symetic-ing.com</p>
			  <p><i class="fa fa-flag"></i><strong><a href="/fr"> FR</a><a href="\"> | EN</a></strong></p>	
			</div>

			<div class="col-md-3 col-sm-4">
				<h3>Useful Links</h3>
				<p><a href="\about">About Us</a></p>
				<p><a href="\job-offers">Job Offers</a></p>
				<p><a href="\contact">Contact</a></p>
				<p><a href="\policy">Privacy & Terms</a></p>
			</div>
            
			<div class="col-md-4 col-sm-4 newsletter">
				<h3>Newsletter</h3>
				<div class="input-group">
           	    	<form action="#" method="post">
                        <input name="email" type="email" placeholder="Enter your email" class="form-control" autorequired>
                    	<button type="submit" name="submit" class="btn email">Submit</button>
                  	</form>
				 </div>
			</div>
            
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2022 Symetic Ing</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="https://www.linkedin.com/company/symetic-ingenierie/" class="fa fa-linkedin"></a></li>
					<li><a href="mailto:contact@symetic-ing.com" class="fa fa-envelope-o"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
