<footer class="bg-secondary position-relative">
    <img src="images/backgrounds/map.png" class="img-fluid overlay-image" alt="">
    <div class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-6">
            <h4 class="text-white mb-5">About</h4>
            <ul class="list-unstyled">
              <li><a href="/job-offers" class="text-light d-block mb-3">Job Offers</a></li>
              <li><a href="/contact" class="text-light d-block mb-3">Contact</a></li>
              <li><a href="/about" class="text-light d-block mb-3">About us</a></li>
              <li><a href="/policy" class="text-light d-block mb-3">Privacy & Terms</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <h4 class="text-white mb-5">Company</h4>
            <ul class="list-unstyled">
              <li><a href="mailto:contact@symetic-ing.com" class="text-light d-block mb-3"><i class="ti-email"></i> contact@symetic-ing.com</a></li>
              <li><a class="text-light d-block mb-3"><i class="ti-mobile"></i> +33 1 85 40 19 16</a></li>
              <li><a href="https://symetic-ing.com" class="text-light d-block mb-3"><i class="ti-world"></i> www.symetic-ing.com</a></li>
              <li><a class="text-light d-block mb-3"><i class="ti-map-alt"></i> 2 Rue Georges Méliés, 78390 Bois-d'Arcy France</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="bg-white p-4">
              <h3>Contact us</h3>
              <form action="#">
                <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Full name">
                <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Email address">
                <textarea name="message" id="message" class="form-control mb-4 px-0" placeholder="Message"></textarea>
                <button class="btn btn-primary" type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <p class="text-light mb-0">Copyright &copy; 2023 Symetic Ing
            </p>
          </div>
          <div class="col-md-6">
            <ul class="list-inline text-md-right text-center">
              <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="d-block p-3 text-white" href="https://www.linkedin.com/company/symetic-ingenierie/"><i class="ti-linkedin"></i></a></li>
              <li class="list-inline-item"><a class="d-block p-3 text-white" href="mailto:contact@symetic-ing.com"><i class="ti-email"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>