<!DOCTYPE html>
<html lang="en">
<head>
	<title>Symetic Ing - About Us</title>
	<link rel="icon" href="images/logoTitle.png" type="image/icon type">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheet css -->

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link rel="stylesheet" href="css/menu.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<style>

	* {
		box-sizing: border-box;
	  }
	  
	  body {
		margin: 0;
		font-family: Arial;
		font-size: 17px;
	  }
	  
	  #myVideo {
		position: fixed;
		right: 0;
		bottom: -100px;
		width: 1200px;
		min-width: 100%; 
		min-height: 100%;
	  }
	  
	  .content {
		position: fixed;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
	  }
	
</style>

</head>
<body>
	
	
	<%- include('partials/nav', {user: user, opt: 'about'}); %>	
  

<!-- about section -->

<div id="team">
	<div class="container">
		<div class="row">
		
			<div class="col-md-5 col-sm-3"></div>

			<video autoplay muted loop id="myVideo">
				<source src="images/video.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			  </video>

			  
			  
			  <script>
			  var video = document.getElementById("myVideo");
			  </script>
 
 


	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h6><strong>About Us <i class="fa fa-globe"></i></strong></h6>
				<br>
				<h7>
					Symetic Ing is a technical assistance company specialising on multisubject engineering services within energy and industry.
					We have chosen to focus on these sectors which we have a strong impact in our future.
				</h7>
				<p></p>
				<h7>
					Major players trust us to manage and handle their projects in France and abroad.
					We support our clients in all phases of engineering projects, from the concept stage to implementation.
				</h7>
				<p></p>
				<h7>We put our will and commitment at the service of our clients and our consultants with the challenge of providing the most suitable solutions.
					Our network of consultants and partners has enabled us to increase our knowledge and expertise.
				</h7>
				<p></p>
				<h7>
					Communication and sharing benefits of success of our employees is essential to attain a better partnership.
					Our commitment is founded on knowledge and skills, regarding our clients
				</h7>
				<p></p>
				<h7>
					We take pride in respecting ethical human values.
				</h7>
				<p></p>
				<h7>
					Knowing how to understand, how to adapt and how to listen are our priorities to build our confidence.
				</h7>
			</div>



		 <div id="team">
			<div class="container">
				<div class="row">
		
	
				 </div>
				 
				 <div class="row mt30"> 
					<div class="col-md-12 col-sm-12">
						<hr>
					</div>
					<div class="col-md-6 col-sm-6">
						<p><strong>Symetic supports you through the quality of its different services:</strong></p>
						<h4><i class="fa fa-angle-double-right"></i> Business & Development</h4>
						<p>Support, Adapt, Evolve.</p>
						<h4><i class="fa fa-angle-double-right"></i> Recruitment</h4>
						<p>Identify, Qualify, Structured.</p>
						<h4><i class="fa fa-angle-double-right"></i> Administrative</h4>
						<p>Evolve, Adviser, Available.</p>
						<p></p>
						<p><strong>An enthusiastic, dynamic team caring for you.
Efficiency, proximity and responsiveness are our keywords for success.</strong></p>
					</div>
					<div class="col-md-6 col-sm-6">
						<strong><p>ENERGY</p></strong>
						
							<div class="progress">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<strong><p>ENVIRONMENT</p></strong>
						
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
							</div>
						<strong><p>IT</p></strong>
						
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
							</div>
							<strong><p>CIVIL INFRASTRUCTURE</p></strong>
						
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>		

		
		</div>
	</div>
</div> 



<!-- footer section -->
<%- include('partials/footer'); %>




<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>