<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    
    <!-- Style -->
   <link rel="stylesheet" href="../assets/css/style.css">

  <link rel="stylesheet" href="../assets/css/theme.css">

    <title>Sign Up</title>
  </head>
  

  <header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
      <div class="container">
        <img src="..\assets\img\logo.png" width = "7%">
        <a href="\" class="navbar-brand">SYMETIC<span class="text-primary">ING.</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
            <li class="nav-item">
              <a href="\" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="\about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="\services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="\job-offers" class="nav-link">Job Offers</a>
            </li>
            <li class="nav-item">
              <a href="\contact" class="nav-link">Contact</a>
            </li>

        
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <body>
  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../assets/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form action="/signup" method="post">
              <div class="form-group first">
                <label for="username" >Username</label>
                <input type="text" name="username" class="form-control" id="username" required>

              </div>
              <div class="form-group first">
                <label for="uid">User ID</label>
                <input type="text" name="uid" class="form-control" id="username" required>

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
              </div>
              
              <button class="btn btn-block btn-primary">Sign up</button>
              <!-- <input type="submit" value="Sign Up" class="btn btn-block btn-primary"> -->

            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>