
.navbar-default .navbar-img.nan_bar_mobile{
    display: none;
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    .navbar-default .navbar-img {
      display: none;
    }
    .navbar-default .navbar-img.nan_bar_mobile {
      display: inline-block;
      width: 60%;
      margin-left: 0;
      
    }
    .navbar-header{
      display: inline-block;
      float: right;
    }
    #contact-header {
        padding-top: 0;
    }
    #myVideo {
        top: -70px;
    }
    
  }
  
  